html {
    scroll-behavior: smooth;
  
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-size: 14pt;
    font-feature-settings: "palt";
    --dark-087: rgba(0,0,0,0.87);
    --dark-054: rgba(0,0,0,0.54);
    --dark-026: rgba(0,0,0,0.26);
    --dark-012: rgba(0,0,0,0.12);
    --light-100: rgba(255,255,255,1.00);
    --light-070: rgba(255,255,255,0.70);
    --light-030: rgba(255,255,255,0.30);
    --light-012: rgba(255,255,255,0.12);
    --gray-010: #f1f1f1;
    --gray-020: #e4e4e4;

  --primary-050: #d7da1f;
  --secondary-050: #d7da1f;
  --base-bg: var(--dark-087);
  --text-color: var(--primary-050);
  
  --section-margin: 120px;
  background-color: aqua;
  }  

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--base-bg);
  }

  header h1 {
    color: #f1f1f1;
    text-align: center;
    position: relative;
  }

  header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }
  header ul li a {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-100);
    text-decoration: none;
    transition: all 0.3s;
  }
  header ul li a:hover,
  header ul li a:active {
    color: var(--light-100);
    background-color: var(--primary-050);
  }

  .haikei {
    width: 100%;
    z-index: 1;
    margin-left: 0%;
    position: relative;
}
.stitle {
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 10;
  font-size: 300%;
}

.atitle {
  font-size: 300%;
  text-align: center;
  padding: 0%;
}

.about {
  padding: 20px;
  padding: var(--section-margin) 2rem;
  background-color: aquamarine;
  margin: 5px;
}


.aboutl {
  color: #f1f1f1;
  width: 49%;
  float: left;
  margin-top: -20px;
  background-color: rgb(68, 68, 241);
  border-radius: 10px;
}


.aboutr {
  margin-left: 50%;
  margin-top: -20px;
  color: #f1f1f1;
  width: 49%;
  background-color: rgb(68, 68, 241);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 57px;
}

.asub {
  margin-top: -50px;
text-align: center;
}

.name {
  font-size: 200%;
  text-align: center;
}

.namae {
  font-size: 300%;
  text-align: center;
}

.soft {
  margin-top: -20px;
  margin-left: 5px;
  font-size: 150%;
  text-align: center;
}

.wtitle {
  font-size: 300%;
  text-align: center;
  padding: 0%;
}

.works {
  margin: 5px;
  padding: 20px;
  padding: var(--section-margin) 2rem;
  background-color: aquamarine;
}

.work1 {
  width: 100%;
  font-size: 200%;
  color: #f1f1f1;
  background-color: rgb(68, 68, 241);
  border-radius: 10px;
}

.meisi {
  margin-top: 10px;
  margin-left: 10px;
  width: 50%;
}
.setumei1 {
  float:right;
}

.work2 {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  font-size: 200%;
  color: #f1f1f1;
  background-color: rgb(68, 68, 241);
  border-radius: 10px;
}

.aqua {
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.aqua2 {
  margin-left: 10px;
  margin-top: 10px;
  width: 25%;
  float: left;
}

.work3 {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  font-size: 200%;
  color: #f1f1f1;
  background-color: rgb(68, 68, 241);
  border-radius: 10px;
}

.suitou {
  width: 50%;
  float: left;
}